<div class="reg_page_title reg_page_title_great reg_image_bck reg_fixed" data-stellar-background-ratio="0.2" data-image="/images/slider/servico.jpg">
    <div class="reg_over" data-color="#333" data-opacity="0.3"></div>
    <div class="container text-left">
        <div class="reg_slide_txt reg_slide_center_middle text-center reg_wht_txt">
            <div class="reg_slide_title">Nossos Serviços</div>
            <div class="reg_slide_subtitle">Ótimas condições para sua <br>hospedagem.</div>
        </div>
        <div id="reg_slider_review" data-0="@class:noactive" data-200="@class:active">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <span class="reg_subtitle">
                        <span class="reg_book_close"></span>
                        Reserva
                    </span>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="reg_slider_review_form">
                        <%= render partial: "inicio/review_form" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="reg_content" class="reg_content">
   <section class="reg_section reg_image_bck" data-color="#f2f2f2" id="rooms">
        <div class="container text-center">
            <h2>Confira</h2><br>
            <h3 class="reg_subtitle">Nossos Serviços</h3>
            <div class="row row_no_pd reg_auto_height">
                <%= render partial: "servicos/carousel" %>
            </div>
    </section>
</section>

<!-- <section id="reg_content" class="reg_content">
    <section class="reg_section reg_image_bck" data-color="#f2f2f2">
        <div class="container text-center">
            <h2>Confira</h2><br>
            <h3 class="reg_subtitle">Nosso Serviços</h3>
            <div class="row row_no_pd reg_auto_height">
                <%#= render "servicos/rooms_carousel" %>
            </div>
        </div>
    </section>
</section>
 -->