<h6 class="title">Navegação</h6>
<ul class="list-unstyled">
	<li><%= link_to "Início","/", data: { turbolinks: false } %></li>
    <li><%= link_to "Sobre nós","/sobre/index", data: { turbolinks: false } %></li>
    <li><%= link_to "Quartos","/quartos/index", data: { turbolinks: false } %></li>
    <li><%= link_to "Serviços","/servicos/index", data: { turbolinks: false } %></li>
    <li><%= link_to "Contatos","/contatos/index", data: { turbolinks: false } %></li>
</ul>

          