<% promocao = @promocao %>
<b>Promoção</b> <%= promocao.title.titleize unless promocao.nil? %></div>
<h3><%= promocao.big_subtitle unless promocao.nil? %></h3>
<h4><%= promocao.subtitle unless promocao.nil? %></h4>
<ul>
	<% unless promocao.nil? %>
		<% promocao.promotionsections.each do |item| %>
    		<li><%= item.title %></li>
    	<% end %>
    <% end %>
</ul>
<span class="btn">Faça sua Reserva</span>
<% unless promocao.nil? %>
<a href="#" class="reg_room_block reg_image_bck" data-image="<%= cl_image_path(promocao.image.key, :transformation=>[{:width=>1000,:height=>1000,:crop=>"scale"}]) %>">
    <b class="btn">reserve agora enviando seu nome e telefone</b>
</a>
<% end %>