<!-- PAGE TITLE SMALL -->
<div class="reg_page_title reg_page_title_great reg_image_bck reg_fixed" data-stellar-background-ratio="0.2" data-image="/images/slider/local_slider.jpg">
  <div class="reg_over" data-color="#333" data-opacity="0.2"></div>
  <div class="container text-left">
    <div class="reg_slide_txt reg_slide_center_middle text-center reg_wht_txt">
        <div class="reg_slide_title">Localização</div>
        <div class="reg_slide_subtitle">Estamos em uma bela Área na proximidade da<br>cidade</div>
    </div>
    <div id="reg_slider_review" data-0="@class:noactive" data-200="@class:active">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
               <span class="reg_subtitle">
                <span class="reg_book_close"><span></span><span></span></span>
                Reserva
            </span>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="reg_slider_review_form">
                <%= render partial: "inicio/review_form" %>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<section id="reg_content" class="reg_content">
    <section class="reg_section reg_image_bck" data-color="#f2f2f2" id="map">
        <div class="container text-center">
            <h2>Encontre-nos</h2><br>
            <h3 class="reg_subtitle">No Mapa</h3>
            <div class="reg_map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7724.2224620073175!2d-52.79595890833689!3d-14.535629644419519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93720355d42e6527%3A0x8cc2e94d080f4420!2sHotel+Aqu%C3%A1rio+Club!5e0!3m2!1spt-BR!2sbr!4v1560877000729!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
  </section>
  <section class="reg_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-push-5">
              <%= render "contatos/como_chegar" %>
          </div>
          <div class="col-md-4 col-md-pull-7 hidden-sm hidden-xs">
            <div class="widget reg_image_bck reg_wht_txt" data-color="#3462A8" id="navegacao">
                <%= render partial: "contatos/navegacao" %>
            </div>
          <% if not @promocao.nil? %>
              <div class="reg_special_offers_item">
                <div class="reg_special_offers reg_image_bck reg_wht_txt text-left" data-color="#292929">
                  <div class="reg_special_offers_best">
                    <%= render "contatos/promocoes" %>
                  </div>
                </div>
              </div>
          <% end %>
          </div>
        </div>
</section>
