 <% quartos = @quartos %>
 <% cont = 0 %>
 <% quartos.each do |quarto| %>
 <% cont += 1 %>
 <div class="col-md-6 <%= raw "col-md-push-6" if cont.even? %>">
  <div class="reg_single_carousel reg_rooms_carousel reg_wht_txt">
    <% quarto.images.each do |image| %>
    <% data_image = cl_image_path(image.key) %>
    <div class="reg_room_block reg_image_bck" data-image="<%= data_image %>">
      <!-- vertical text -->
      <!-- <div class="reg_slider_copyright">Living Room</div> -->
    </div>
    <% end %>
  </div>
</div>
<div class="col-md-6 <%= raw "col-md-pull-6" if cont.even? %> reg_image_bck" data-color="#fff">
  <div class="reg_simple_block text-left">
    <%
      cor = "quarto_amarelo" if quarto.title.downcase.include? "amarelo"
      cor = "quarto_verde" if quarto.title.downcase.include? "verde"
      cor = "quarto_azul" if quarto.title.downcase.include? "azul"
      cor = "quarto_verde" if quarto.title.downcase.include? "camping"
    %>
    <h2 class="<%= cor %>"><%= quarto.title.titleize %><a href="#reg_page" class="reg_go"><i class="ti ti-tag"></i><b>Reserve Agora</b></a></h2>
    <h4><%= quarto.subtitle.downcase %></h4>
    <ul>
      <% quarto.roomsections.each do |section| %>
      <li><%= section.title %></li>
      <% end %>  
    </ul>
    <h3><span class="reg_underline_title"><%= "R$#{number_with_precision(quarto.price, :precision => 2)}"%></span><%= quarto.enum_booking_type %></h3>
  </div>
</div>
<% end %>
