<div class="container text-center">
    <h2>Galeria</h2><br>
    <h3 class="reg_subtitle">Confira as Fotos!</h3>
    <div class="row reg_gallery reg_auto_height reg_wht_txt">
        <% carousels = @carousels %>
        <!-- Item -->
        <% carousels.each do |carousel| %>
        <div class="col-md-6" >
            <div class="reg_gallery_carousel_txt reg_over" data-color="#292929" data-opacity="0.8">
                <h2><%= carousel.title %></h2>
            </div>
            <div class="reg_single_carousel reg_gallery_carousel reg_rooms_carousel">
                <% images = carousel.images %>
                <% images.each do |image| %>
                    <% data_image = cl_image_path(image.key, :transformation=>[{:crop=>"scale"}]) %> 
                    <div class="reg_room_block reg_gallery_item reg_image_bck" data-image="<%= data_image %>">
                    </div>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>
