<div class="row">
    <%= bootstrap_flash %>
    <div id="form-messages" role="alert"></div>
    <form class="reg_form" id="new_basicbooking" action="/reserva">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input name="utf8" type="hidden" value="&#x2713;" />
        <div class="col-md-2 reg_book_item">
            <input type="text" value="" class="form-control date_picker" required placeholder="Chegada" name="basicbooking[arrival]" id="basicbooking_arrival">
        </div>
        <div class="col-md-2 reg_book_item">
            <input type="text" value="" class="form-control date_picker" name="basicbooking[departure]" id="basicbooking_departure" required placeholder="Saida">
        </div>
        <div class="col-md-2 reg_book_item">
            <input type="text" class="form-control" name="basicbooking[name]" id="basicbooking_name" required placeholder="Nome">
        </div>
        <div class="col-md-2 reg_book_item">
            <input type="text" value="" class="form-control" name="basicbooking[cel]" id="basicbooking_cel" required placeholder="Cel">
        </div>
        <div class="col-md-2 reg_book_item">
            <select class="form-control" data-enumeration="true" name="basicbooking[enum_type]" id="basicbooking_enum_type">
                <option value="1">
                        <%= Basicbooking.enum_types.key(1) %></option>
                <option value="2">
                        <%= Basicbooking.enum_types.key(2) %></option>
                <option value="3">
                        <%= Basicbooking.enum_types.key(3) %></option>
                <option value="4">
                        <%= Basicbooking.enum_types.key(4) %></option>
            </select>
        </div>
        <div class="col-md-2 reg_book_item">
            <button type="submit" class="btn btn-white submit" name="_save">Enviar</button>
        </div>
    </form>
</div>
<script>
$( document ).ready(function() {
    $(function() {
    var form = $('#new_basicbooking');
    var formMessages = $('#form-messages');
    $(form).submit(function(event) {
        var formData = $(form).serialize();
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: $(form).attr('action'),
            data: formData
        })
        .done(function(response) {
            $(formMessages).removeClass('alert alert-danger');
            $(formMessages).addClass('alert alert-success');
            $(formMessages).text("Seu pedido de reserva foi enviado! Em breve retornaremos.");
        })
        .fail(function(data) {
            $(formMessages).removeClass('alert alert-success');
            $(formMessages).addClass('alert alert-danger');
            $(formMessages).text('Oops! Alguma coisa deu errado! O pedido de reserva não pode ser enviado.');
        })
    });
});
});
</script>