<% time = @time %>
<% time.each do |item| %>
<div class="reg_icon_box reg_team_box">
    <div class="reg_icon_box_photo">
        <img src="<%= cl_image_path(item.image.key, :transformation=>[{:width=>450,:height=>1215,:crop=>"scale"}])%>" alt="">
    </div>
    <h4><b><%= item.title %></b> <br><%= item.subtitle %></h4>
</div>
<% end %>


