<div class="container">
    <div id="reg_footer_block" data-0="@class:noactive" data-300-end="@class:active">
        <i class="ti flaticon-reception-bell"></i><span class="reg_subtitle">Precisa de Ajuda<b>(66)9 8137-8015</b></span>
        <p>Entre em contato conosco será uma satisfação em recebe-lo em nosso Hotel Aquário Club.</p>
    </div>
    <div class="row reg_wht_txt">
        <div class="col-md-5 col-sm-3">
            <div class="reg_subtitle">Hotel Aquário Club</div>
            <h3>Campinápolis - MT</h3>
            </br>
            <p>© 2019 Campinapolis.com</p>
        </div>
        <div class="col-md-2 col-sm-3">
            <h4>Endereço:</h4>
            <p>Rua: Pará, Número: 610 - Setor: Zé Viola. Campinápolis-MT</p>
        </div>
        <div class="col-md-3 col-sm-3">
            <h4>Contato</h4>
            <p><a href="mailto:contact@regalhostels.com">criselle2010@hotmail.com</a><br>
                Celular: (66)9 8137-8015<br>
                <a href="mailto:jobs@regalhostels.com">criselle2010@hotmail.com</a>
            </p>
        </div>
        <div class="col-md-2 col-sm-3">
            <h4>Siga-nos</h4>
            <ul>
            <!--     <li><a href="#">Behance</a></li>
            -->    <li><a href="https://www.facebook.com/aquarios.cris/">Facebook</a></li>
            <!--     <li><a href="#">Dribble</a></li>
            --></ul>
        </div>
    </div>
</div>
