<div class="container reg_wht_txt">
    <div class="reg_header_phone">
        <b>(66)9 8137-8015</b>
    </div>
    <div class="reg_header_soc">
        <b>Redes Sociais</b>
        <div class="reg_header_soc_btns">
            <a href="https://www.facebook.com/aquarios.cris/" class="ti ti-facebook"></a>
            <!-- <a href="#" class="ti ti-twitter"></a> -->
            <!-- <a href="#" class="ti ti-instagram"></a> -->
            <!-- <a href="#" class="ti ti-google"></a> -->
        </div>
    </div>
</div>
<div class="reg_menu clearfix" data-301-end="left:0px" data-300-end="left:-200px">
    <div class="reg_menu_btn">
        <span></span><span></span><span></span>
    </div>
    <b>Hotel Aquário</b>
</div>
<div class="reg_book clearfix">
    <i class="ti ti-tag"></i>
</div>
<div class="reg_menu_cont reg_image_bck" data-color="#292929">
    <div class="reg_menu_cont_txt">
        <%= render partial: "layouts/reg_menu_cont_txt" %>
    </div>
</div>
