<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%= render partial: "layouts/head" %>
</head>
<body>
    <div class="reg_page" id="reg_page">
        <a href="#reg_page" class="reg_top ti ti-arrow-up reg_go"></a>
        <header>
            <%= render partial: "layouts/header" %>
        </header>
        <%= yield %>
        <footer class="reg_image_bck" data-color="#292929">
            <%= render partial: "layouts/footer" %>
        </footer>
    </div>
    <%= render partial: "layouts/script" %>
</body>
</html>
